<nav class="nav navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color: aliceblue">Angular Crud</h1>
     <div class="d-flex">
         <button type="button" class="button btn btn-success"(click)="clickAddEmployee()" data-bs-toggle="modal" data-bs-target="#exampleModal">
         Add Employee
       </button>
     </div>
    </div>
  </nav>
  <table class="table mt-3">  
      <thead>
          <tr>
              <th scope="col">Employee Id</th>
              <th scope="col"> Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile No</th>
              <th scope="col">Fees </th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of employeeData">
              <td>{{row.id}}</td>
              <td>{{row.name}}</td>
              <td>{{row.email}}</td>
              <td>{{row.mobile}}</td>
              <td>{{row.fees}}</td>
              <td>
                  <button type="button" (click)="onEdit(row)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                  <button class="btn btn-danger mx-3" (click)="deleteEmployee(row)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label  class="form-label">Name</label>
                  <input type="name" class="form-control" id="name" formControlName="name">
                </div>
                <div class="mb-3">
                  <label  class="form-label">Email id</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Mobile</label>
                    <input type="text" class="form-control" formControlName="mobile">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Fees </label>
                    <input type="text" class="form-control" formControlName="fees">
                  </div>
              </form>

        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate"(click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
 